.navbar-brand{
  margin-left: 3em;
}

nav ul li a {
  color: #939393;
  font-family: roboto;
  font-weight: bold;
  font-size: 0.8em;
}
nav {
  /*height: 15%; FIXME */
  height: 5em; /* Taille en em sinon l'inspecteur change la taille d'affichage*/
}

#nav-contenu{
  align-items: center;
}
