/*<<<<<<<<< Icomoon */
@import url("../icomoon/style.css");
/*>>>>>>>> Icomoon */
@import url("fonts.css");
@import "navbar.css";

*{outline: 1px solid red;}

body{
  background-color: #f6f6f6;
}

/*Empêche le décallage de la page */
.row{
  margin-left: 0px;
  margin-right: 0px;
}

/*<<<<<< BANNER */
/*https://css-tricks.com/tinted-images-multiple-backgrounds/ https://css-tricks.com/forums/topic/css-background-image-color-overlay/*/
#banner{
    margin-top: 5em;
    height: 495px;
    position:relative; /*height:495px;*/
    width:100%;
    background:
        linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        ),
            url("../images/banner.jpg") center no-repeat;
    background-size: cover;
}

.text-banniere{
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translate(-50%,-50%);
}
.text-banniere > h3{
  font-family:roboto;
  font-size:8px;
}
.text-banniere > h1{
  font-family:lora-bold;
}
.text-banniere > h2{
  font-family:lora-italic;
}
.text-banniere svg{
    fill: currentColor;
    padding: 0.5em;
    margin-top: 5em;
}
/* https://codepen.io/nxworld/pen/OyRrGy */
/*>>>>>> BANNER*/

/*<<<<<< A Propos */
.about{
    padding: 5% 20%;
}
.about h2{
    font-family: lora-bold,arial,serif;
}
.about p{ margin-top: 1em;}
/*>>>>>> A Propos */

/*<<<<<< STATS */
.stat-banner{
    background-color:black;
    color:white;
    fill:white;
}
.stat-banner ul{
  list-style:none;
  font-family: roboto;
  font-size:0.5em;
}

.stat-banner>.row {
    padding: 5%;
}
.stat-banner li{
    display: flex;
}

.stat-banner svg{
    position: relative;
    top: 20%;
}
.stat-banner li>.col{
    position: relative;
    top: 20%;
    left : 10%;
    padding-left: 0;
}
/*>>>>>> STATS */

/*<<<<<< PROJETS */
.projects h2{
    font-family: lora-bold;
    margin-bottom: 0.5em;
}
.projects h2+p{
    padding-left: 25%;
    padding-right: 25%;
}
.projects img{
    padding: 0;
    /*clip-path: inset(0px,480px,580px,460px);*/
    /*clip-path: inset(20px 30px 70px 105px);*/
    /*height: 50%;
    width: 30%;*/
}

/*>>>>>> PROJETS */

/*<<<<<< QUOTE */
.quote{
    padding: 5% 25%;
    background-color:black;
    color:white;
}

.quote .guillemets{
    font-family: lora-italic;
    font-size: 2.5em;
}
.quote>p{
    font-family: lora-italic;
    font-size: 2em;
}
#author{
    font-family: Roboto;
}
/*>>>>>> QUOTE */

/*<<<<<< BLOG */
.blog-spot{
    width : 85%;
    margin-left: 7.5%;
}

.blog-spot h2{
    font-family: lora-bold;
    padding-top: 1.25em;
    padding-bottom: 0.75em;
    font-size: 2.5em;
}
.blog-spot h3{
    font-family: lora-bold;
    font-size: 1.75em;
    color : black;
}
.blog-spot small{
    font-family: roboto;
}
.blog-spot h2+p{
    margin-bottom: 2.5em;
    color : #5a6268;
    font-size: 1.1em;
}
.blog-spot ul{
    list-style: none;
}
.blog-spot .card-deck{
    padding-bottom: 5em;
}
.blog-spot .card{
    width : 100px;
}
.blog-spot .card-deck img{
    height: 300px;
}
.blog-spot .card p{
    color : #6c757d;
}
/*>>>>>> BLOG */

/*<<<<<< CONTACTS */

.contact{
    border-top : 1px solid #888888;
    padding: 6% 5%;
}
.contact h2{
    font-family: lora-bold;
    font-size: 2em;
    margin-bottom: 0.75em;
}
.contact form *{
    border : none;
    border-radius: 1px;
}
.contact form{
    align-content: space-between;
}
.contact form *::placeholder{
    font-size: 0.8em;
}
.contact form .row .col{
display: flex;
}
form textarea{
    height: 12em;
}
.submit {
    font-family: Roboto;
    color: white;
    background-color: black;
    padding: 1em 2em;
    margin-top: 3em;
}
/*>>>>>> */


/*<<<<<< FOOTER */
footer{
    padding: 7% 7%;
    font-size: 0.9em;
    background-color:black;
    color:white
}
footer h3{
    font-family: lora-bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}
.tweet_bullet{
    list-style: none;
    clear : left;

}
.tweet_bullet li{
    margin-bottom : 0.5em;
}
.tweet_bullet li::before{
    height:1em;
    width:1em;

    float : left;
    margin-left:-2.5em;
    margin-right : 1.5em;
    margin-top: 0.25em;
    content: url(../images/twitter.svg);
    /*background-image:url("data:image/svg+xml;utf8, <svg version=\"1.1\" id=\"Capa_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\" viewBox=\"0 0 612 612\" style=\"enable-background:new 0 0 612 612;\" xml:space=\"preserve\"><g><path style=\"fill:#ffffff; d=\"M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z\"/></g></svg>"); /*<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='90%' height='90%' viewBox='-0.5 -0.5 11 11' preserveAspectRatio='xMidYMid meet'><path d='M5,5 C5,7 4,8 6.5,11' stroke='green' fill='none' stroke-width='1'/><ellipse id='petal' cx='5' cy='2' ry='2.5' rx='1.5' fill='white' stroke='slateblue' stroke-width='0.5' /><use xlink:href='%23petal' transform='rotate(72 5 5)'/><use xlink:href='%23petal' transform='rotate(144 5 5)'/><use xlink:href='%23petal' transform='rotate(216 5 5)'/><use xlink:href='%23petal' transform='rotate(-72 5 5)'/><circle r='1' cx='5' cy='5' fill='goldenrod' stroke='yellow'/></svg>");*/
}

/* https://codepen.io/tjoen/pen/FJBaw */
/*>>>>>> FOOTER */