/*<<<<<<<<< Icomoon */
@import url("../icomoon/style.css");
/*>>>>>>>> Icomoon */
@import url("fonts.css");
@import "navbar.css";

/* *{outline: 1px solid red;} */

body{
  background-color: #f6f6f6;
}

/*Empêche le décallage de la page */
.row{
  margin-left: 0px;
  margin-right: 0px;
}

/*<<<<<< BANNER */
/*https://css-tricks.com/tinted-images-multiple-backgrounds/ https://css-tricks.com/forums/topic/css-background-image-color-overlay/*/
#banner{
    margin-top: 5em;
    height: 495px;
    position:relative; /*height:495px;*/
    width:100%;
    background:
        linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        ),
            url("../images/banner.jpg") center no-repeat;
    background-size: cover;
}

.text-banniere{
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translate(-50%,-50%);
}
.text-banniere > h3{
  font-family:roboto;
  font-size:8px;
}
.text-banniere > h1{
  font-family:lora-bold;
}
.text-banniere > h2{
  font-family:lora-italic;
}
.text-banniere svg{
    fill: currentColor;
    padding: 0.5em;
    margin-top: 5em;
}
/* https://codepen.io/nxworld/pen/OyRrGy */
/*>>>>>> BANNER*/

/*<<<<<< A Propos */
.about{
    padding: 5% 20%;
}
.about p{ margin-top: 1em;}
/*>>>>>> A Propos */

/*<<<<<< STATS */

.stat-banner ul{
  list-style:none;
  font-family: roboto;
  font-size:0.5em;
}

.stat-banner ul li div img {
  width:38px;
  height:34px;
}

/*>>>>>> STATS */